body {
  background-image: url("../images/background/guitar-2428921_1920.jpg");
  background-size: cover;
}

.hide {
  display: none;
}

header {
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  background-color: transparent;
}

.asideCard {
  border-radius: 2rem;
  padding: 20px;
  margin: 20px;
  opacity: 80%;
}
.asideCard:hover {
  opacity: 70%;
}

.searchLabel {
  font-size: 20px;
  color: whitesmoke;
  font-family: cursive;
}

/* need to find out where to control the form search color.  */
.inputText {
  font-size: 35px;
  font-family: cursive;
  border-radius: 1rem;
  color: white;
  padding: 20px;
  margin: 10px;
}

.playlistRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingHeader {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

h1 {
  font-family: "Babylonica", cursive;
  color: whitesmoke;
  font-size: 100px;
}

h2 {
  font-family: cursive;
}
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

footer h4,
h5 {
  font-family: cursive;
  font-size: x-large;
  color: white;
}

/* Hi Ali, I've added a couple of paragraph for the footer links, I want the user click on the "Our team", "Business strategy", "Business development" and "Contact us", the corresponding parts ".teamHide",  ".bizHide", ".devHide", ".contactHide" will show, it's easier to do it in JavaScript, can you please add this part? Thank you so much. */
.teamHide,
.bizHide,
.devHide,
.contactHide {
  display: none;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  font-family: cursive;
  font-weight: bold;
}

.page-footer {
  background: transparent;
}

.addBtn:hover {
  opacity: 70%;
}

.playlistCol:link {
  font-family: cursive;
  font-size: 20px;
  color: whitesmoke;
}

.playlistCol:visited {
  color: lightgray;
}

.playlistCol:hover {
  color: royalblue;
}

.playlistCol:active {
  color: lightskyblue;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settingList {
  font-size: 20px;
  font-family: cursive;
}

.mainSong {
  display: flex;
  position: relative;
  height: 50px;
  opacity: 80%;
}

.card-expand {
  display: flex;
  position: relative;
  opacity: 80%;
}

.previousTrack {
  position: absolute;
  left: 25px;
}

.playTrack {
  position: absolute;
  left: 50px;
}

.pauseTrack {
  position: absolute;
  left: 75px;
}

.nextTrack {
  position: absolute;
  left: 100px;
}

.artist-title {
  position: absolute;
  left: 150px;
  font-size: 1.25rem;
  top: 12px;
}

.sound {
  position: absolute;
  right: 190px;
  top: 14px;
}

.spot {
  position: absolute;
  right: 160px;
  top: 14px;
}

.you {
  position: absolute;
  right: 128px;
  top: 14px;
}

.event {
  position: absolute;
  right: 100px;
}

.remove {
  position: absolute;
  right: 45px;
}

.expand {
  position: absolute;
  right: 15px;
}

.card-expand {
  display: flex;
}

.share {
  position: absolute;
  right: 15px;
}

#player {
  margin: auto;
}

.artist-title {
  font-size: 20px;
  color: black;
  font-family: cursive;
  margin-left: 10px;
}

#playlistInput {
  font-size: 20px;
  color: whitesmoke;
  font-family: cursive;
  width: 300px;
  padding-left: 10px;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px lightgrey;
  opacity: 80%;
}

.createPlaylist {
  display: flex;
  position: relative;
}

#savePlaylist {
  position: absolute;
  left: 240px;
  top: 12px;
  /* left: 265px; */
}

#playAll {
  position: absolute;
  left: 265px;
  top: 12px;
  /* left: 25px; */
}

button:hover {
  cursor: pointer;
}

button[data-tooltip]:hover:after {
  opacity: 80%;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
button[data-tooltip]:after {
  content: attr(data-tooltip);
  background-color: gray;
  color: whitesmoke;
  font-size: 100%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  /* bottom: -1.6em; */
  bottom: 100%;
  left: 50%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px lightgray;
  opacity: 80%;
  /* border: 1px solid #111111; */
  z-index: 99999;
  visibility: hidden;
}
button[data-tooltip] {
  position: relative;
}
