/* * {
  box-sizing: border-box;
} */
header {
  background-image: url("/assets/images/background/guitar-2428921_1920.jpg");
  padding: 0;
  margin: 0;
  /* border-top: 0; */
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  background-color: transparent;
}

.mainSong {
  display: flex;
  position: relative;
  height: 50px;
}

.card-expand {
  display: flex;
  position: relative;
}

.collapsible {
  display: none;
}


.previousTrack {
  position: absolute;
  left: 25px;
}

.playTrack {
  position: absolute;
  left: 50px;
  
}

.pauseTrack {
  position: absolute;
  left: 75px;
  
}

.nextTrack {
  position: absolute;
  left: 100px;
  
}

.artist-title {
  position: absolute;
  left: 150px;
  font-size: 1.25rem;
  top: 12px;
}

.sound {
  position: absolute;
  right: 190px;
  top: 14px;
}

.spot {
  position: absolute;
  right: 160px;
  top: 14px;
}

.you {
  position: absolute;
  right: 128px;
  top: 14px;
}

.event {
  position: absolute;
  right: 100px;
}

.remove {
  position: absolute;
  right: 45px;
}

.expand {
  position: absolute;
  right: 15px;
}

.card-expand {
  display: flex;
}

.share {
  position: absolute;
  right: 15px;
}

#player {
  margin: auto;
}